[Unit]
Description=Displaying the current temperature and utilization on the Deepcool AK Series CPU cooler

[Service]
Type=simple
User=root
ExecStart= /usr/bin/python /usr/bin/deepcool-ak-series-digital.py
Restart=always

[Install]
WantedBy=default.target
